beeper/beeper
gpg-keys/*
!gpg-keys/.gitkeep
config/docker-compose.local.yml
config/vibe-notifier
config/.env
config/custom-bin/*
!config/custom-bin/.gitkeep
!config/custom-bin/github-ffmerge

# macOS
.DS_Store
